[Unit]
Description=mavros autostart

[Service]
Type=simple
ExecStart=/home/hornet/catkin_ws/src/asdp4_hornet/services/mavros/mavros.sh
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
